
@if (Session["maID"] == null)
{
    Response.Redirect("~/Login/Index");
}
<h2 class="align_center">Change Password</h2>

<div class="form-horizontal">
    <hr />
    <div class="container" style="width:60%;margin-top:2%">
        @using (Html.BeginForm("ChangePasswordPost", "MedicalAssistant", FormMethod.Post))
        {
            @Html.AntiForgeryToken()

            <div class="form-group">
                <label class="control-label col-md-4">Current Password</label>
                <div class="col-md-8">
                    <input class="form-control" name="currentPassword" minlength="6" id="currentPassword" type="password" autofocus autocomplete="off" required />
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-4">New Password</label>
                <div class="col-md-8">
                    <input class="form-control" name="newPassword" minlength="6" id="newPassword" type="password" autocomplete="off" required />
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-4">Confirm New Password</label>
                <div class="col-md-8">
                    <input class="form-control" name="confirmNewPassword" minlength="6" id="confirmNewPassword" type="password" autocomplete="off" required/>
                </div>
            </div>

            <div class="form-group align_center">
                <div class="col-md-12">
                    <input type="submit" value="Save" onClick="javascript:return confirm_submit();" id="btnSubmit" class="btn btn-success" />
                    @Html.ActionLink("Back to List", "Index", "", new { @class = "btn btn-default backBtn" })
                </div>
            </div>

        }
    </div>
</div>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script>
    function confirm_submit() {
        var confrm;
        var currentPassword = $('#currentPassword').val();
        var newPassword = $('#newPassword').val();
        var confirmNewPassword = $('#confirmNewPassword').val();
        var error_txt = "<span class='text-danger'>This field is required</span>";
        var length_error_txt = "<span class='text-danger'>Please lengthen this text to 6 characters or more.</span>";

        if (currentPassword == "") {
            $('#currentPassword').after(error_txt);
            confrm = false;
        } else if (newPassword == "") {
            $('#newPassword').after(error_txt);
            confrm = false;
        } else if (confirmNewPassword == "") {
            $('#confirmNewPassword').after(error_txt);
            confrm = false;
        } else if (newPassword != confirmNewPassword) {
            $('#confirmNewPassword').after("<span class='text-danger'>This value should match with New Password</span>");
            confrm = false;
        } else if (currentPassword.length < 6) {
            $('#currentPassword').after(length_error_txt);
            confrm = false;
        } else if (newPassword.length < 6) {
            $('#newPassword').after(length_error_txt);
            confrm = false;
        } else if (confirmNewPassword.length < 6) {
            $('#confirmNewPassword').after(length_error_txt);
            confrm = false;
        } else if (newPassword != confirmNewPassword) {
            $('#confirmNewPassword').after("<span class='text-danger'>This value should match with New Password</span>");
            confrm = false;
        } else {
            confrm = window.confirm("Confirm submit?");
        }
        if (confrm == true) {
            $('form').submit();
        }
        return confrm;
    }
</script>